
body {
  font-family: 'Rubik', sans-serif;
}

.questionText {
  padding: 20px;
}

.timer {
  display: flex;
  align-items: center;
  background: black;
  color: white;
  justify-content: space-between;
  padding: 10px;
}

.timerText {
  font-size: 2.2em;
  padding: 20px;
  font-weight: 300;
}

.clockWrapper {
  width: 80px;
  height: 80px;
  background: black;
  border: solid 1px white;
  border-radius: 50%;
  position: relative;
}

.clockInner {
  background: white;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.clockHand {
  left: 50%;
  top: 10%;
  transform-origin: center bottom;
  transform: translateX(-50%) rotate(120deg);
  position: absolute;
  height: 40%;
  width: 2%;
  border-radius: 40% 40% 0 0;
  background: red;
}

.clockInner::after {
  content: '';
  display: block;
  position: absolute;
  width: 8%;
  height: 8%;
  background: red;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.answer {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  justify-content: space-between;
}

.answer i {
  font-size: 2em;
  transform: scale(0);
  animation: animateIcon .5s 1 forwards;
}

@keyframes animateIcon {
  0% { transform: scale(0) }
  80% { transform: scale(1.1) }
  100% { transform: scale(1) }
}

.answer:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.2);
}

.answer.disabled {
  opacity: 0.6;
}

.disabled:hover{
  cursor: default;
  background: none;
}

.selected.correct {
  opacity: 1;
  background: green;
}

.selected.wrong {
  opacity: 1;
  background: red;
}